{
    "IsEncrypted": false,
    "Values": {
        "AzureWebJobsStorage": "UseDevelopmentStorage=true",
        "FUNCTIONS_WORKER_RUNTIME": "dotnet",
        "ComputerVisionKey": "<cv key>",
        "ComputerVisionEndpoint": "https://<account name>.cognitiveservices.azure.com/",
        "StorageAccountName": "<storage account name>",
        "StorageConnection": "DefaultEndpointsProtocol=https;AccountName=<account name>;AccountKey=<account key goes here>;EndpointSuffix=core.windows.net",
        "OPENAI_API_KEY":"<key goes here>"
    },
    "Host": {
        "CORS": "*"
    
    }
}